/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.02.2019, 14:25:59
    Author     : Michael
*/

.root {-fx-background-image: url("background.png");}


.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: black; 
   }

#login-text {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: red; 
       
}   

#actiontarget {
    fx-fill:WHITE;
    -fx-font-weight:bold;
   
}

.button {
   -fx-text-fill:white;
   -fx-font-family:"Arial Narrow";
   -fx-font-weight:bold;
   -fx-baclground-color:linear-gradient(#61a2b1,#2A5058;)
    
}

